<%= form_for post do |f| %>
  <% if post.errors.any? %>
    <div class="error_messages">
      <h2>Form is invalid</h2>
      <ul>
        <% for message in post.errors.full_messages %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>

  <div class="field">
    <%= f.label :credit %>
    <%= f.text_field :credit %>
  </div>

  <div class="field multiline-input">
    <%= f.label :summary %>
    <%= f.text_area :summary %>
  </div>

  <div class="field multiline-input">
    <%= f.label :body %>
    <%= f.text_area :body, :class => "tinymce" %>
  </div>

  <div class="field multiline-input">
    <label>Categories (depress control/command key while clicking to select more than one issue)</label>
    <%= select "post", "category_ids",PennStationBlog::Category.all.collect{|c| [c.name,c.id]},{},{:multiple=>true} %>
  </div>

  <div class="field">
    <%= f.label :publish %>
    <%= f.check_box :publish, {class: 'checkbox'} %>
  </div>

  <div style="margin-bottom: 10px;">
    <label>Publication date</label>
    <%= f.date_select :publication_date %>
  </div>

  <div class="actions"><%= f.submit 'Save' %></div>

<% end %>

