<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all posts", posts_path, class: "button delete_button" %></li>
    <li><%= link_to "Delete this post", @post, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @post.name %></h1>
  <%= render(:partial => "penn_station_blog/posts/form", :locals => {:post => @post}) %>
</div>
