
<% content_for :toolbar_links do %>
  <ol class="row">
    <li class="post"><a href="<%= new_post_path %>">Add a new post</a></li>
    <li class="post"><a href="<%= categories_path %>">Manage blog categories</a></li>
  </ol>
<% end %>

<h1>Manage <%= controller.controller_name %></h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="cols">
      <li class="title">Title</li>
    </ol>
    <ol class="cols">
      <li class="spacer">&nbsp;</li>
      <li class="published">Published?</li>
      <li class="publication_date">Publication Date</li>
      <li class="blog_categories">Blog Categories</li>
      <li class="allow_comments">Allow Comments?</li>
      <li class="comments">Comments</li>
      <li class="updated_at">Last Updated</li>
    </ol>
  </li>

  <% @posts.each do |post| %>
    <li id="<%= post.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="title">
          <a href="<%= penn_station_blog.edit_post_path(post) %>"><%= post.title %>
            <%= image_tag("edit.png", class: "normal") %>
            <%= image_tag("edit_over.png", class: "hover") %>
          </a>
        </li>
      </ol>
      <ol class="cols">
        <li class="spacer">&nbsp;</li>
        <li class="published"><%= post.publish? ? 'Y' : 'N' %></li>
        <li class="publication_date"><%= post.publication_date %></li>
        <li class="blog_categories">&nbsp;<%#= post.categories.all.map{|c| c.name}.join(", ") %></li>
        <li class="allow_comments">&nbsp;<%#= boolean_checkbox_image(blog_post.allow_comments) %></li>
        <li class="comments">&nbsp;<%#= blog_post.blog_comments.find_all_by_approved(true).size %></li>
        <li class="updated_at"><%= formatted_date(post.updated_at) %></li>
      </ol>
    </li>
  <% end %>
</ol>
