<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all posts", posts_path, class: "button delete_button" %></li>
  </ol>
<% end %>

<h1>Create a new post</h1>
<%= render(:partial => "penn_station_blog/posts/form", :locals => {:post => @post}) %>
