<% content_for :toolbar_links do %>
  <ol class="row">
    <li><%= link_to "Back to all categories", categories_path, class: "button delete_button" %></li>
    <li><%= link_to "Delete this category", @category, method: :delete, data: { confirm: 'Are you sure?' }, class: "button delete_button" %></li>
    <li><%= link_to "Back to all posts", posts_path, class: "button delete_button" %></li>
  </ol>
<% end %>

<div id="<%= controller.controller_name %>">
  <h1>Edit <%= @category.name %></h1>
  <%= render(:partial => "penn_station_blog/categories/form", :locals => {:category => @category}) %>
</div>
