
<% content_for :toolbar_links do %>
  <ol class="row">
    <li class="category"><a href="<%= new_category_path %>">Add a new category</a></li>
    <li><%= link_to "Back to all posts", posts_path, class: "button delete_button" %></li>
  </ol>
<% end %>

<h1>Manage <%= controller.controller_name %></h1>

<ol id="<%= controller.controller_name %>_index" class="index">
  <li class="title-row row">
    <ol class="cols">
      <li class="name">Name</li>
      <li class="updated_at">Last Updated</li>
    </ol>
  </li>

  <% @categories.each do |category| %>
    <li id="<%= category.id %>" class="row  <%= cycle("even", "odd") -%>">
      <ol class="cols">
        <li class="name"><a href="<%= penn_station_blog.edit_category_path(category) %>"><%= category.name %> <%= image_tag("edit.png") %></a></li>
        <li class="updated_at"><%= formatted_date(category.updated_at) %></li>
      </ol>
    </li>
  <% end %>
</ol>
