
<% (@posts, @sidebar_posts) = gather_posts %>
<% summarize_page = @posts.length > 1 %>

<div id="main" class="content">
  <div id="posts">
    <%= yield :main %>

    <% @posts.each do |post| %>
      <div class="post">
        <h1 class="title"><%= post.title %></h1>

        <h3 class="credit">
          <%= post.credit %>,&nbsp;<%= post.publication_date.strftime('%m.%d.%y') %>
        </h3>

        <% if summarize_page %>
          <p class="summary"><%= post.summary %></p>

          <h3 class="read-more">
            <a href="<%= @page.url %>?post_id=<%=post.id %>">Read More >></a>
          </h3>
        <% else %>
          <div class="post-body">
            <%= post.body.html_safe %>
          </div>

          <%= render partial: 'layouts/blog/addthis' %>
        <% end %>
      </div>
    <% end %>
  </div>

  <div id="posts_sidebar">
    <h2>Recent Posts</h2>

    <% @sidebar_posts.limit(5).each do |post| %>
      <h3 class="blog-title">
        <a href="<%= @page.url %>?post_id=<%=post.id %>"><%= post.title %></a>
      </h3>
    <% end %>

    <h2>Categories</h2>

    <h3 class="category-name">
      <a href=<% @page.url %>>All</a>
    </h3>

    <% PennStationBlog::Category.all.order(:name).each do |category| %>
      <h3 class="category-name">
        <a href="<% @page.url %>?category_id=<%= category.id %>&url=<%= @page.url %>"><%= category.name %></a>
      </h3>
    <% end %>
  </div>
</div>
