
@import "variables";
@import "variables.blog";

[data-page-type="blog"] {
  .content {
    overflow: auto;
    margin-left: auto;
    margin-right: auto;
    max-width: $max_width;

    #posts {
      float: left;
      padding-top: 25px;
      width: 61%;

      .post {
        float: none;
        margin-bottom: 20px;
        overflow: auto;

        .credit { float: left; }

        .post-body,
        .summary {
          clear: both;
          padding-top: 5px;
        }

        a {
          margin-top: 15px;
          text-decoration: none;

          &:hover { text-decoration: underline; }
        }

        .read-more { float: right; }
      }

      .addthis_toolbox { margin-top: 25px; }
    }

    #posts_sidebar {
      background-color: $blog_sidebar_background_color;
      float: right;
      min-height: 800px;
      padding: 25px;
      width: 30%;

      h2 {
        margin-bottom: 10px;

        &:nth-of-type(2) { margin-top: 30px; }
      }

      h3 { margin-bottom: 5px; }

      a {
        text-decoration: none;

        &:hover { text-decoration: underline; }
      }
    }

    @media screen and (min-width: $desktop_min) {
      margin: 0 auto;
      max-width: $max-width - ($outer_gutter_size * 2);
    }
  }
}
