
#pennstation {
  #workspaces {

    /* Adjust column widths for each class's index. */

    ol#posts_index {
      li.row {
        height: auto;

        li.title {width: 100%;}
        li.spacer {width: 300px;}
        li.published {width: 90px;}
        li.publication_date {width: 125px;}
        li.blog_categories {width: 200px;}
        li.allow_comments {width: 145px;}
        li.comments {width: 100px;}
        li.updated_at {width: 100px;}
      }
    }
  }
}
